<section id="login" class="bg-dark py-5">
  <div class="show-case"></div>
  <div class="container">
      <div class="row">
          <div class="col-lg-7 col-md-6 col-sm-12 ">
                  <h2 class=" display-2 py-2 mt-5 text-center text-light">
                          AMS
                      </h2>
                      <p class=" link-green d-none d-lg-block display-4">
                         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, dolore?
                      </p>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-12">
              <div class="card fade-out py-4 mt-5 mb-0">
                  <div class="card-body">
                      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
                          <div class="form-group">
                              <label for="email"  class="">Username</label>
                              <div class="input-group">
                                  <input formControlName="email" type="email" id="email" placeholder="test@test.com" class="form-control py-3">
                                  <span class="input-group-addon">
                                      <i class="fa fa-user"></i>
                                  </span>
                              </div>
                              <p 
                              *ngIf="loginForm.get('email').touched && !loginForm.get('email').value "
                              class="form-text text-danger">
                             This field is required !
                            </p>
                            <p 
                            *ngIf="loginForm.get('email').value && !loginForm.get('email').valid"
                            class="form-text text-danger">
                           Please set a valid email !
                          </p>
                          </div>
                          <div class="form-group">
                              <label for="email" class="">Password</label>
                              <div class="input-group">
                                  <input type="password" formControlName="password" placeholder="Enter your Password" class="form-control  py-3">
                                  <span class="input-group-addon">
                                      <i class="fa fa-eye"></i>
                                  </span>
                              </div>
                              <p 
                              *ngIf="loginForm.get('password').touched && !loginForm.get('password').value "
                              class="form-text text-danger">
                             This field is required !
                            </p>
                          </div>
                          <div class="form-group">
                              <!-- <input  value="Login"> -->
                              <button 
                              [disabled]="!loginForm.get('email').valid  ||!loginForm.get('password').valid"
                              class="btn btn-block btn-green py-3 mt-4">Login</button>
                          </div>
                      </form> 
                      <div class="row text-center">
                          <a routerLink="/" class="link-green btn-block"> Forgot your password ?
                          </a>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>

</section>
