<section id="main-content">
  <div class="container-fluid">
      <section class="">
          <!-- navigation section -->
          <div id="navigation">
              <nav class="navbar navbar-expand-sm navbar-inverse py-3 navbar-dark">
                  <a (click)="!show" id="in" class="navbar-brand btn btn-green">
                      <i class="fa fa-bars"></i>
                  </a>


                  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="navbar-collapse collapse" id="navbar">
                      <!-- <form class="form-inline form-row" action="">

                          <div class="col-10">
                              <input type="text" class=" bg-dark form-control" placeholder="search">
                          </div>
                          <div class="col-2">
                              <button class=" btn btn-green " type="submit">
                                  <i class="fa fa-search"></i>
                              </button>
                          </div>


                      </form> -->


                      <ul class="navbar-nav ml-auto">

                          <li class="nav-item py-2 dropdown">
                              <a href="#" data-toggle="dropdown" class="nav-link">
                                  <i class="fa fa-square-o "></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                  <a href="" class="dropdown-item">Home</a>
                                  <a href="" class="dropdown-item">Home</a>
                                  <a href="" class="dropdown-item">Home</a>
                                  <div class="dropdown-divider"></div>
                                  <a href="" class="dropdown-item">Home</a>
                                  <a href="" class="dropdown-item">Home</a>
                              </div>
                          </li>
                          <li class="nav-item py-2 active dropdown">
                              <a href="#" data-toggle="dropdown" class="nav-link">
                                  <i class="fa fa-bell-o "></i>
                                  <span class="badge badge-danger px-1 float-right badge-pill">+9</span>
                                 
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                  <a href="" class="dropdown-item">Home</a>
                                  <a href="" class="dropdown-item">Home</a>
                                  <a href="" class="dropdown-item">Home</a>
                                  <div class="dropdown-divider"></div>
                                  <a href="" class="dropdown-item">Home</a>
                                  <a href="" class="dropdown-item">Home</a>
                              </div>
                          </li>
                          <li class="nav-item  py-2 dropdown">
                              <a href="#" data-toggle='dropdown' class="nav-link">
                                  <i class="fa fa-user-o"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                  <a href="" class="dropdown-item">Home</a>
                                  <a href="" class="dropdown-item">Home</a>
                                  <a href="" class="dropdown-item">Home</a>
                                  <div class="dropdown-divider"></div>
                                  <a href="" class="dropdown-item">Home</a>
                                  <a href="" class="dropdown-item">Home</a>
                              </div>
                          </li>

                      </ul>

                      
                  </div>
              </nav>
              <!-- core feature section -->
              <section id="core-features">
                  <nav class="">
                      <ul class="breadcrumb bg-dark">
                          <li class="breadcrumb-item">
                              <a href="#">Dashboard</a>
                          </li>
                          <li class="breadcrumb-item active">
                              New Member
                          </li>
                      </ul>
                  </nav>
                  <div class=" py-3">
                      <div class="row text-center">
                          <div class="col-md-3 mb-2">
                              <div class="card bg-dark">
                                  <div class="card-body">
                                      <p class="text-muted">Total Subscription</p>
                                      <h2 class="text-white">
                                          <i class="fa fa-arrow-down text-danger"></i> 8952 </h2>
                                      <p class="text-muted">
                                          <strong>48%</strong> from the last 24 hours
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3 mb-2">
                              <div class="card bg-dark">
                                  <div class="card-body">
                                      <p class="text-muted">Order Status</p>
                                      <h2 class="text-white">
                                          <i class="fa fa-arrow-up text-success"></i> 6521 </h2>
                                      <p class="text-muted text-truncate">
                                          <strong>42%</strong> orders in the last 10 month
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3 mb-2">
                              <div class="card bg-dark">
                                  <div class="card-body">
                                      <p class="text-muted">Unique Visitors</p>
                                      <h2 class="text-white">
                                          <i class="fa fa-arrow-up text-success"></i> 480 </h2>
                                      <p class="text-muted">
                                          <strong>22%</strong> from the last 24 hours
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3 mb-2">
                              <div class="card bg-dark">
                                  <div class="card-body">
                                      <p class="text-muted">Monthly Earningd</p>
                                      <h2 class="text-white">
                                          <i class="fa fa-arrow-down text-danger"></i> 6521 </h2>
                                      <p class="text-muted">
                                          <strong>48%</strong> from the last 24 hours
                                      </p>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </section>

              <!-- charts section  -->
              <section id="charts">
                  <div class="">
                      <div class="row">
                          <div class="col-md-4 col-sm-12 ">
                              <div class="card bg-dark">
                                  <h5 class="text-white p-3">
                                      Email sent
                                  </h5>
                                  <div class="row text-center px-1">
                                      <div class="col-sm-4">
                                          <h6 class="text-white">4000</h6>
                                          <p class="text-muted">Marketplace</p>
                                      </div>
                                      <div class="col-sm-4">
                                          <h6 class="text-white">954</h6>
                                          <p class="text-muted">Last week</p>
                                      </div>
                                      <div class="col-sm-4">
                                          <h6 class="text-white">8462</h6>
                                          <p class="text-muted">Last Month</p>
                                      </div>
                                  </div>
                                  <div class="card-body">

                                      <canvas id="line-chart" height=300 width=300></canvas>

                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-12">
                              <div class="card bg-dark ">
                                  <h5 class="text-white p-3">
                                      Revenues
                                  </h5>
                                  <div class="row text-center px-1">
                                      <div class="col-sm-4 ">
                                          <h6 class="text-white">4000</h6>
                                          <p class="text-muted">Marketplace</p>
                                      </div>
                                      <div class="col-sm-4 ">
                                          <h6 class="text-white">954</h6>
                                          <p class="text-muted">Last week</p>
                                      </div>
                                      <div class="col-sm-4 ">
                                          <h6 class="text-white">8462</h6>
                                          <p class="text-muted">Last Month</p>
                                      </div>
                                  </div>
                                  <div class="card-body">
                                      <canvas id="pie-chart" height=300 width=300> </canvas>

                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-12">
                              <div class="card bg-dark ">
                                  <h5 class="text-white p-3">
                                      Email sent
                                  </h5>
                                  <div class="row text-center px-1">
                                      <div class="col-sm-4">
                                          <h6 class="text-white">4000</h6>
                                          <p class="text-muted">Marketplace</p>
                                      </div>
                                      <div class="col-sm-4">
                                          <h6 class="text-white">954</h6>
                                          <p class="text-muted">Last week</p>
                                      </div>
                                      <div class="col-sm-4">
                                          <h6 class="text-white">8462</h6>
                                          <p class="text-muted">Last Month</p>
                                      </div>
                                  </div>
                                  <div class="card-body">

                                      <canvas id="bar-chart" height=300 width=300></canvas>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
              <!-- table section  -->
              <section id="table">
                  <div class="py-3">
                      <div class="row">
                          <div class="col-lg-7 ">
                              <table class="table table-striped table-hover">
                                  <thead class="table-inverse">
                                      <tr>
                                          <th>Name</th>
                                          <th>position</th>
                                          <th>Office</th>
                                          <th>Age</th>
                                          <th>Date-Started</th>
                                          <th>Salary</th>
                                      </tr>
                                  </thead>
                                  <tbody class="text-muted">
                                      <tr>
                                          <td>Hazem Tarek Hemaily </td>
                                          <td>Admin</td>
                                          <td>Portsaid</td>
                                          <td>22</td>
                                          <td>20/11/2017</td>
                                          <td>$5000</td>
                                      </tr>
                                      <tr>
                                          <td>Refaat Mahmoud Eish </td>
                                          <td>Admin</td>
                                          <td>Demitta</td>
                                          <td>22</td>
                                          <td>20/2/2017</td>
                                          <td>$7000</td>
                                      </tr>
                                      <tr>
                                          <td>Hussein Assous</td>
                                          <td>Admin</td>
                                          <td>Demitta</td>
                                          <td>22</td>
                                          <td>20/11/2018</td>
                                          <td>$4000</td>
                                      </tr>
                                      <tr>
                                          <td>Ahmed Ali El-Diasty</td>
                                          <td>Admin</td>
                                          <td>Portsaid</td>
                                          <td>22</td>
                                          <td>25/4/2018</td>
                                          <td>$3000</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="col-lg-5 ">
                              <h5 class="text-white">
                                  Goal Completion
                              </h5>
                              <div class="row">
                                  <div class="col">
                                      <p class="text-muted mb-1 mt-2">Add Product to cart
                                          <span class="float-right text-info">80%</span>
                                      </p>
                                      <div class="progress">
                                          <div class="progress-bar bg-info" style="width:80%;"></div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <p class="text-muted mb-1 mt-2">Complete Parchases
                                          <span class="float-right text-info">50%</span>
                                      </p>
                                      <div class="progress">
                                          <div class="progress-bar bg-info" style="width:50%;"></div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <p class="text-muted mb-1 mt-2">Profits
                                          <span class="float-right text-info">90%</span>
                                      </p>
                                      <div class="progress">
                                          <div class="progress-bar bg-info" style="width:90%;"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
          </div>
      </section>



  </div>

</section>
