
    <div class=" py-3">
      <div class="row justify-content-center text-center">
          <div class="col-md-3  py-3 mb-2">
              <div class="card bg-dark">
                  <div class="card-body">
                      <p class="text-muted">Instructors</p>
                      <h2 class="text-white">
                          <i class="fa fa-user text-success"></i> {{instructors.length}} </h2>
                     
                  </div>
              </div>
          </div>
          <div class="col-md-3 py-3  mb-2">
              <div class="card bg-dark">
                  <div class="card-body">
                      <p class="text-muted">Admins</p>
                      <h2 class="text-white">
                          <i class="fa fa-user text-success"></i> {{admins.length}} </h2>
                     
                  </div>
              </div>
          </div>
          <div class="col-md-3 py-3  mb-2">
            <div class="card bg-dark">
                <div class="card-body">
                    <p class="text-muted">First Year Students</p>
                    <h2 class="text-white">
                        <i class="fa fa-user text-success"></i> {{student1?.length}} </h2>
                  
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3  mb-2">
            <div class="card bg-dark">
                <div class="card-body">
                    <p class="text-muted">second Year Students</p>
                    <h2 class="text-white">
                        <i class="fa fa-user text-success"></i> {{student2?.length}} </h2>
                  
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3  mb-2">
            <div class="card bg-dark">
                <div class="card-body">
                    <p class="text-muted">Third Year Students</p>
                    <h2 class="text-white">
                        <i class="fa fa-user text-success"></i> {{student3?.length}} </h2>
                  
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3  mb-2">
            <div class="card bg-dark">
                <div class="card-body">
                    <p class="text-muted">Fourth Year Students</p>
                    <h2 class="text-white">
                        <i class="fa fa-user text-success"></i> {{student4?.length}} </h2>
                  
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3  mb-2">
            <div class="card bg-dark">
                <div class="card-body">
                    <p class="text-muted">Fifth Year Students</p>
                    <h2 class="text-white">
                        <i class="fa fa-user text-success"></i> {{student5?.length}} </h2>
                  
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3  mb-2">
            <div class="card bg-dark">
                <div class="card-body">
                    <p class="text-muted">Sixth Year Students</p>
                    <h2 class="text-white">
                        <i class="fa fa-user text-success"></i> {{student6?.length}} </h2>
                  
                </div>
            </div>
        </div>
         

      </div>
  </div>