
    <div class=" py-3">
      <div class="row justify-content-center text-center">
          <div class="col-md-3  py-3 mb-2">
              <div class="card bg-dark">
                  <div class="card-body">
                      <p class="text-muted">Instructors</p>
                      <h2 class="text-white">
                          <i class="fa fa-user text-success"></i> {{instructors.length}} </h2>
                     
                  </div>
              </div>
          </div>
          <div class="col-md-3 py-3  mb-2">
              <div class="card bg-dark">
                  <div class="card-body">
                      <p class="text-muted">Students</p>
                      <h2 class="text-white">
                          <i class="fa fa-user text-success"></i> {{students.length}} </h2>
                    
                  </div>
              </div>
          </div>
          <div class="col-md-3 py-3  mb-2">
              <div class="card bg-dark">
                  <div class="card-body">
                      <p class="text-muted">Admins</p>
                      <h2 class="text-white">
                          <i class="fa fa-user text-success"></i> {{admins.length}} </h2>
                     
                  </div>
              </div>
          </div>
         

      </div>
  </div>