<section  [ngClass]="{'slide-out' : !uiService.sidebarStatus , 'slide-in' : uiService.sidebarStatus}" class="col-sm-5"  id="side-bar">
  <div class="row">
      <div class="col px-0">

          <h1 class="text-light mt-2 pr-5 text-center">
            <a (click)="toggleSidebar()" id="in" class="py-2 mb-2 mr-4 btn btn-green">
                <i class="fa fa-bars"></i>
            </a>
            AMS
             

          </h1>
          <p class="text-muted pl-4 py-1">Menu</p>

          <div class="list-group ">
              <a [routerLink]="['']" class=" pl-4 list-group-item list-group-item-action active">
                  <i class="fa fa-fort-awesome pr-3"></i> Dashboard
                  <span class="badge d-inline-block mt-1 float-right badge-pill">10</span>
              </a>
              <a  [routerLink]="['/new-admin']" class=" pl-4 list-group-item list-group-item-action ">
                  <i class="fa fa-user-plus pr-3"></i>Add New Memeber

              </a>
              <a href="#" class=" pl-4 list-group-item  list-group-item-action">
                  <i class="fa fa-group pr-3"></i> Memebers
              </a>
              <a  href="#schedule"  data-toggle ="collapse"class=" pl-4 list-group-item list-group-item-action">
                <i class="fa fa-calendar pr-3"></i> Schedule
                <span class="d-inline-block mt-1 float-right ">
                    <i class="fa fa-plus"></i>
                </span>
            </a>
            <div class="collapse" id="schedule">
               <div class="list-group">
                <a [routerLink]="['/activities','1']" class="list-group-item list-group-item-action">
                    First year
                </a>
                <a [routerLink]="['/activities','2']" class="list-group-item list-group-item-action">
                    Second year
                </a>
                <a [routerLink]="['/activities','3']" class="list-group-item list-group-item-action">
                    Third year
                </a>
                <a [routerLink]="['/activities','4']" class="list-group-item list-group-item-action">
                    Fourth year
                </a>
                <a [routerLink]="['/activities','5']" class="list-group-item list-group-item-action">
                    Fifth year
                </a>
                <a [routerLink]="['/activities','6']" class="list-group-item list-group-item-action">
                    Sixth year
                </a>
              
               </div>
            </div>
                  <a [routerLink]="['locations']" class=" pl-4 list-group-item list-group-item-action">
                      <i class="fa fa-map-marker pr-3"></i> Locations
                      <!-- <span class="badge d-inline-block mt-1 float-right badge-pill">10</span> -->
                  </a>

                  <a href="#monitoring"  data-toggle ="collapse" class=" pl-4 list-group-item list-group-item-action ">
                      <i class="fa fa-signal pr-3"></i> Monitoring
                      <span class="d-inline-block mt-1 float-right ">
                          <i class="fa fa-plus"></i>
                      </span>
                  </a>  
                  <div class="collapse" id="monitoring">
                    <div class="list-group">
                     <a [routerLink]="['/year/1/subjects']" class="list-group-item list-group-item-action">
                         First year
                     </a>
                     <a [routerLink]="['/year/2/subjects']" class="list-group-item list-group-item-action">
                         Second year
                     </a>
                     <a [routerLink]="['/year/3/subjects']" class="list-group-item list-group-item-action">
                         Third year
                     </a>
                     <a [routerLink]="['/year/4/subjects']" class="list-group-item list-group-item-action">
                         Fourth year
                     </a>
                     <a [routerLink]="['/year/5/subjects']" class="list-group-item list-group-item-action">
                         Fifth year
                     </a>
                     <a [routerLink]="['/year/6/subjects']" class="list-group-item list-group-item-action">
                         Sixth year
                     </a>
                    </div>
                 </div>
          </div>

      </div>
  </div>
</section>