<section class="col-sm-5 bg-light slide-in" id="side-bar">
  <div class="row">
      <div class="col px-0">

          <h3 class="text-dark py-1 pr-5 display-4 text-center">
              <a href="#" class="link-green float-left px-3 " id="out">
                  <i class="fa fa-angle-left"></i>
              </a>AMS

          </h3>
          <p class="text-muted pl-4 py-1">Menu</p>

          <div class="list-group ">
              <a href="#" class=" pl-4 list-group-item list-group-item-action active">
                  <i class="fa fa-fort-awesome pr-3"></i> Dashboard
                  <span class="badge d-inline-block mt-1 float-right badge-pill">10</span>
              </a>
              <a href="#" class=" pl-4 list-group-item list-group-item-action ">
                  <i class="fa fa-user-plus pr-3"></i>Add New User

              </a>
              <a href="#" class=" pl-4 list-group-item  list-group-item-action">
                  <i class="fa fa-group pr-3"></i> Memebers

                  <a href="#" class=" pl-4 list-group-item list-group-item-action">
                      <i class="fa fa-calendar pr-3"></i> Schedule
                      <span class="d-inline-block mt-1 float-right ">
                          <i class="fa fa-plus"></i>
                      </span>
                  </a>
                  <a href="#" class=" pl-4 list-group-item list-group-item-action">
                      <i class="fa fa-whatsapp pr-3"></i> Chating
                      <span class="badge d-inline-block mt-1 float-right badge-pill">10</span>
                  </a>

                  <a href="#" class=" pl-4 list-group-item list-group-item-action ">
                      <i class="fa fa-signal pr-3"></i> Monitoring
                      <span class="d-inline-block mt-1 float-right ">
                          <i class="fa fa-plus"></i>
                      </span>
                  </a>

          </div>

      </div>
  </div>
</section>