<div class="container-fluid">
  <div class="row mt-5">
    <!-- <div class="col"> -->
    <table class="table table-striped table-hover">
      <thead class="table-inverse">
        <tr>
          <th>Day</th>
          <th>Subject</th>
          <th>Instructor</th>
          <th>Location</th>
          <th>Start At</th>
          <th>End At</th>
          <th>Type</th>
          <th class="control">Control</th>
        </tr>
      </thead>
      <tbody class="text-muted">
        <tr *ngFor="let activity of activities, let i = index">
          <td>{{activity.day}}</td>
          <td>{{activity.subjectName}}</td>
          <td>{{activity.instructorName}}</td>
          <td>{{activity.location}}</td>
          <td>{{activity.startTime}}</td>
          <td>{{activity.endTime}}</td>
          <td>{{activity.type}}</td>
          <td class="control">
            <button class="btn mt-2 btn-sm btn-green" (click)="editActivity(activity)">Edit</button>
            <button class="btn mt-2 btn-sm btn-outline-danger" (click)="deleteActivity(activity,i)">Delete</button>
          </td>
        </tr>
       
      </tbody>
    </table>
    <!-- </div> -->

    <!-- here add member form replacement -->

  </div>
  <div class="row">
    <button (click)="addNewActivity()" class="btn btn-lg btn-green">
      <i class="fa fa-plus"></i> Add New Activity</button>
  </div>
</div>

