<div class="row">
  <div class="col-sm-4">
    <form [formGroup]="registerForm" (ngSubmit)="onGetAccounts()">

          <div class="form-group">
              <label for="fullname">full name</label>
              <input type="text"
                    id="fullname"
                    formControlName="fullname"
                    class="form-control"
                    >

                    <span class="help-block"
                    style="color: red"
                    *ngIf="!registerForm.get('fullname').valid && registerForm.get('fullname').touched"
                    >full name required!</span>

      </div>

        <div class="form-group">
            <label for="email">email</label>
            <input type="email"
                  id="email"
                  class="form-control"
                  formControlName="email"
                  >
                  <span class="help-block"
                  style="color: red"
                  *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched"
                  >Invalid email!</span>


        </div>

      <div class="form-group">
          <label for="username">username</label>
          <input type="text"
                id="username"
                formControlName="username"
                class="form-control"
                >
                <span class="help-block"
                style="color: red"
                *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched"
                >username required!</span>
      </div>
      <div class="form-group">
          <label for="password">password</label>
          <input type="password"
          formControlName="password"
                id="password"
                class="form-control"
                >
                <span class="help-block"
                style="color: red"
                *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched"
                >Enter strong password (over 8)</span>
      </div>
     <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit">Register</button>
          <button class="btn btn-primary" type="button">Clear</button>
   </div>

            </div>

    </form>
  </div>

</div>
