<div class="container-fluid">
  <div class="row">
    <div class=" col-md-6">
        <button (click)="addNewLocation()" class="btn btn-lg mr-4 mt-3 btn-green">
            <i class="fa fa-plus"></i> Add New Location</button>
    </div>
    <div class="col-md-6">
        <h2 class="text-right text-green mr-4 mt-4"> Locations Table </h2>
    </div>
  </div>
<div class="row mt-3">
  <div class="mx-auto col">
  <table class="table table-striped text-center table-hover">
    <thead class="table-inverse">
      <tr>
        <th >location</th>
       
        <th class="control">Control</th>
      </tr>
    </thead>
    <tbody class="text-muted">
      <tr *ngFor="let location of locations, let i = index">
        <td>{{location.locationName}}</td>
      
        <td class="control">
          <button class="btn mt-0 btn-sm btn-green" (click)="editLocation(location)">Edit</button>
          <button class="btn mt-0 btn-sm btn-outline-danger" (click)="deleteLocation(location,i)">Delete</button>
        </td>
      </tr>
     
    </tbody>
  </table>
  </div>

  <!-- here add member form replacement -->

</div>

</div>

